---
export interface Props {
  name: string;
  src: string;
}

const { name, src } = Astro.props;
---

<card class="p-3 lg:w-1/12 bg-transparent place-content-center">
  <img id={name} class="my-auto w-20 h-20" title={name} alt={name} src={src} />
  <span class="pt-2 px-auto dark:text-gray-300 text-black font-semibold text-center w-full">{name}</span>
</card>
