---
import Sections from "@layouts/Sections.astro";
import ButtonSocials from "@components/buttons/ButtonSocials.astro";
import { Info } from "../../types/global.types";
import { t } from "i18next";
import me from "db/user.json";

import X from "@icons/x.astro";
import Github from "@icons/github.astro";
import Linkedin from "@icons/linkedin.astro";
import Document from "@icons/document.astro";
const iconStyle = "m-auto size-3/5 hover:transform hover:scale-105";

// Definir dos fechas
const fecha1 = new Date(me.created_at);
const fecha2 = new Date();

// Calcular la diferencia de años
const Anios = fecha2.getFullYear() - fecha1.getFullYear();
---

<Sections id="aboutme" title="">
  <div class="flex flex-col lg:flex-row lg:pt-6 lg:min-h-[85vh] min-h-[calc(100vh+7rem)]">
    <div class="lg:w-1/2 self-center">
      <img
      src="/images/me.webp"
      alt="Edgar Mariano Laz Terán"
      class="rounded-full profile-photo m-auto lg:size-[500px] md:size-[400px] size-[300px] "
    />
    </div>
    <div
      class=" lg:w-1/2 lg:mx-10 md:mx-6 m-auto flex flex-col gap-y-6 lg:gap-5 md:text-3xl lg:text-xl text-2xl"
    >
      <p class="text-center text-4xl md:text-5xl lg:text-4xl font-bold">
        <span
          class="drop-shadow-[5px_5px_0_rgba(0,0,0,0.25)] dark:drop-shadow-[5px_5px_0_rgba(255,255,255,0.10)] text-gray-800 dark:text-gray-100"
          >{t("index.about.description")}</span
        >
      </p>
      <p
        class="place-self-center font-bold flex gap-x-2 text-gray-800 dark:text-gray-100"
      >
        <img src={"/svg/company.svg"} alt="" class="size-8 dark:invert" />
        <span class=""
          >{t("index.about.position")} {t("index.about.pp")} {me.company}</span
        >
      </p>
      <p
        class="place-self-center font-bold flex gap-x-2 text-gray-800 dark:text-gray-100"
      >
        <img src={"/svg/pin-sharp-circle.svg"} alt="" class="size-8 dark:invert" />
        {me.location}
      </p>
      <p
        class="place-self-center font-bold flex gap-x-2 text-green-900 dark:text-green-400"
      >
        <span>+{Anios} {t("index.about.experience")}</span>
      </p>
      <p class="text-center lg:text-3xl md:text-4xl text-3xl font-bold p-2 text-sky-800">
        <a href="#projects">
          <span
            class=" dark:text-sky-600"
            >{t("index.about.subtitle")}
          </span>
        </a>
        <span>👽</span>
      </p>
      <div class="flex lg:gap-x-4 gap-x-6 place-content-center">
        <ButtonSocials footer={false} social={Info.x}
          >{(<X class={iconStyle} />)}</ButtonSocials
        >
        <ButtonSocials footer={false} social={Info.linkedin}
          >{(<Linkedin class={iconStyle} />)}</ButtonSocials
        >
        <ButtonSocials footer={false} social={Info.github}
          >{(<Github class={iconStyle} />)}</ButtonSocials
        >
        <ButtonSocials footer={false} social={Info.pdf2}
          >{(<Document class={iconStyle} />)}</ButtonSocials
        >
      </div>
    </div>
  </div>
</Sections>
