---
import { t } from "i18next";
import { Info } from "../types/global.types";
import ButtonSocials from "./buttons/ButtonSocials.astro";
import AnimationLink from "./AnimationLink.astro";
import astro from "/svg/astro-logo-light.svg";
---

<footer
  class="inline-flex w-[104%] overflow-x-hidden content-center bg-black h-16 text-white lg:fixed bottom-0 z-10"
>
  <div class="inline-flex w-full my-auto">
    <div class="text-center w-1/2 my-auto p-2">
      <p class="sm:text-sm md:text-base flex justify-center">
        <span>{t("index.footer.developer")}</span>
        <strong class="text-white mx-2">Edgar Laz</strong>
        <span>{t("index.footer.using")}</span>
        <img src={astro} alt="Astro Logo" class="h-6 ml-2">
      </p>
    </div>
    <div class="w-1/2 inline-flex gap-x-3 place-content-center p-2">
      <!-- <ButtonSocials social={Info.facebook} />
      <ButtonSocials social={Info.instagram}  /> -->
      <ButtonSocials social={Info.x} />
      <ButtonSocials social={Info.linkedin} />
      <ButtonSocials social={Info.github} />
      <ButtonSocials social={Info.pdf2} />
    </div>
  </div>
  <AnimationLink />
</footer>
