---
import { t } from "i18next";
import { Info } from "../types/global.types";
import ButtonSocials from "./buttons/ButtonSocials.astro";
import AnimationLink from "./AnimationLink.astro";
---

<footer
  class="inline-flex w-[104%] overflow-x-hidden content-center bg-black h-16 text-white lg:fixed bottom-0 z-10"
>
  <div class="inline-flex w-full my-auto">
    <div class="text-center w-1/2 my-auto p-2">
      <p class="sm:text-sm md:text-base">
        <span lang="es">{t("index.footer.developer")}</span>
        <strong class="text-white">Edgar Laz</strong>
      </p>
    </div>
    <div class="w-1/2 inline-flex gap-x-3 place-content-center p-2">
      <!-- <ButtonSocials social={Info.facebook} footer={true} />
      <ButtonSocials social={Info.instagram} footer={true} /> -->
      <ButtonSocials social={Info.twitter} footer={true} />
      <ButtonSocials social={Info.linkedin} footer={true} />
      <ButtonSocials social={Info.github} footer={true} />
      <ButtonSocials social={Info.pdf2} footer={true} />
    </div>
  </div>
  <AnimationLink />
</footer>
