---
import Icon from "astro-icon";
import { t } from "i18next";
import type { NavDicInterface, Nav } from "../types/global.types"
interface Props {
  link: Nav;
}

const { link } = Astro.props;
const navStyle =
  "h-border-gradient inline-flex gap-x-2 font-semibold text-lg items-center px-2";

const iconStyle = "size-5 mt-0.5";

const navDic:NavDicInterface = {
  aboutme: {
    href: "#aboutme",
    iconName: "mdi:star",
    label: t("index.nav.aboutme"),
  },
  projects: {
    href: "#projects",
    iconName: "mdi:react",
    label: t("index.nav.projects"),
  },
  knowledge: {
    href: "#knowledge",
    iconName: "mdi:book-open-variant",
    label: t("index.nav.knowledge"),
  },
};

const navElement = navDic[link as Nav];

---
<a href={navElement.href} id={`${link}_nav`} class={navStyle}>
  <Icon name={navElement.iconName} class={iconStyle}/>
  {navElement.label}
</a>


