---
import Account from "@icons/account.astro";
import Briefcase from "@icons/briefcase.astro";
import CodeBraces from "@icons/code-braces.astro";
import Chip from "@icons/chip.astro";
import { getUI } from "@i18n/ui";
import type { Nav } from "../types/global.types";

interface Props {
  link: Nav;
}

const { link } = Astro.props;
const ui = getUI(Astro.currentLocale);

const navStyle =
  "group inline-flex md:gap-x-2 gap-x-1 font-medium items-center px-3 py-1.5 rounded-lg text-xs md:text-sm dark:text-gray-300 text-gray-600 hover:dark:text-white hover:text-gray-900 dark:hover:bg-white/10 hover:bg-black/[0.05] transition-all duration-200";

const iconStyle = "size-5 mt-0.5 opacity-90";

const navDic = {
  aboutme: { href: "#aboutme", Icon: Account, label: ui.index.nav.aboutme },
  experience: { href: "#experience", Icon: Briefcase, label: ui.index.nav.experience },
  projects: { href: "#projects", Icon: CodeBraces, label: ui.index.nav.projects },
  knowledge: { href: "#knowledge", Icon: Chip, label: ui.index.nav.knowledge },
};

const navElement = navDic[link as Nav];
const Icon = navElement.Icon;
---

<a href={navElement.href} id={`${link}_nav`} class={navStyle}>
  <Icon class={iconStyle} />
  <span class="hidden sm:inline">{navElement.label}</span>
</a>
