---
import Icon from "astro-icon";
import { t } from "i18next";
import type { NavDicInterface, Nav } from "../types/global.types"
interface Props {
  link: Nav;
}

const { link } = Astro.props;
const navStyle =
  "hover:scale-105 nav-gradient inline-flex gap-x-1 font-semibold  text-lg items-center mx-2 px-2";
const iconStyle = "w-5 h-5 mt-0.5";
const navDic:NavDicInterface = {
  aboutme: {
    href: "#aboutme",
    iconName: "mdi:star",
    label: t("index.nav.aboutme"),
  },
  skills: {
    href: "#skills",
    iconName: "mdi:wizard-hat",
    label: t("index.nav.skills"),
  },
  projects: {
    href: "#projects",
    iconName: "mdi:react",
    label: t("index.nav.projects"),
  },
  knowledge: {
    href: "#knowledge",
    iconName: "mdi:book-open-variant",
    label: t("index.nav.knowledge"),
  },
};
---
<a href={navDic[link].href} id={`${link}_nav`} class={navStyle}>
  <Icon name={navDic[link].iconName} class={iconStyle}/>
  {navDic[link].label}
</a>


