---
import ProjectsCard from "@components/cards/projectsCard.astro";
import repos from "@db/repos.json";
import { t } from "i18next";
import useLanguages from "@hooks/useLanguages";

const { forked } = Astro.props;
let repositories = repos.filter((r) => r.fork === forked);

// const search = Astro.url.searchParams.get("language")! || "";
// if (search) {
//   repositories = repositories.filter((r) => {
//     const languages = Object.keys(r.languages);
//     console.log(languages);
//     return Boolean(languages.includes(search));
//   });
// }

---

<div>
  <h2 class="font-bold text-3xl mt-10 text-left dark:text-white text-black">
    {!forked ? t("index.projects.repositories") : t("index.projects.forks")}
  </h2>
  <div class="flex justify-around flex-wrap gap-10 mt-10">
    {
      repositories
        .filter(
          (r) =>
            !r.name.includes("prueba") &&
            !r.name.includes("portfolio") &&
            !r.name.includes("edgarguitarist")
        )
        .map((repo) => {
          return (
            <ProjectsCard
              name={repo.name}
              repo_url={repo.html_url}
              site={repo.homepage}
              description={repo.description}
              contributor={repo.contributor as Contributor}
              languages={repo.languages}
              stars={repo.stargazers_count}
            />
          );
        })
    }
  </div>
</div>
